<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <!-- Uygulamada son girilen rfc baglanti bilgilerinin kaydedildigi dosya  -->
    <add key="SAPConnectionInfoSavingFileNameAndPath" value="tempSAPConnectionInfo.txt" />
    <!-- Girilen rfc adlari -->
    <add key="RFCNameSavingFileNameAndPath" value="tempRFCName.txt" />
    
  </appSettings>

</configuration>
